In [201]:
import sqlite3 
import pandas as pd
import time
import datetime
import requests
from api_key import key

In [298]:
conn=sqlite3.connect('database.sqlite')
cur=conn.cursor()

In [299]:
s=cur.execute("""SELECT * FROM Matches WHERE Season=2011 ;""" ).fetchall()
# cur.description

In [300]:
df=pd.DataFrame(s)
df.columns=[x[0] for x in cur.description]
print(df.shape)
df.head()

(992, 9)

   Match_ID Div  Season        Date   HomeTeam       AwayTeam  FTHG  FTAG FTR
0      1092  D1    2011  2012-03-31   Nurnberg  Bayern Munich     0     1   A
1      1093  D1    2011  2011-12-11  Stuttgart  Bayern Munich     1     2   A
2      1094  D1    2011  2011-08-13  Wolfsburg  Bayern Munich     0     1   A
3      1095  D1    2011  2011-11-27      Mainz  Bayern Munich     3     2   H
4      1096  D1    2011  2012-02-18   Freiburg  Bayern Munich     0     0   D

In [301]:
def dateToTimeStamp(date):
    return int(datetime.datetime.strptime(date, "%Y-%m-%d").timestamp())

In [302]:
dateToTimeStamp("2011-12-11")

1323583200

In [303]:
#https://api.darksky.net/forecast/16ff9b4d89256c89ce3d1af54b4294de/52.5200,-13.4050,

def fixURL(timeStamp):
    url="https://api.darksky.net/forecast/{}/52.5200,-13.4050,".format(key)
    return url+str(timeStamp)

In [304]:
url=fixURL(dateToTimeStamp("2011-12-11"))
url

'https://api.darksky.net/forecast/4efaf5efcae99d58fef159c34d23ff28/52.5200,-13.4050,1323583200'

In [305]:
def weatherStatus(url):
    data=requests.get(url)
    text=data.text
    weather=text.replace("{",',').replace(":",",").split(",")
    cleanweather=weather[14].replace("\"","")
    return cleanweather
weatherStatus(url)

'clear-night'

In [306]:
len(df["HomeTeam"].unique())

56

In [308]:
weatherList=[]
uniqueDate=df["Date"].unique()
for i in uniqueDate[:40]:
    url=[]
    url=fixURL(dateToTimeStamp(i))
    weatherList.append(weatherStatus(url))
len(weatherList)

IndexError: list index out of range

In [290]:
#Populate weatherList for testting
difference= len(uniqueDate)-len(weatherList)
if difference>=0:
    for i in range(difference):
        weatherList.append("NA")
difference
len(uniqueDate)

165

In [289]:
dateAndWeather=pd.DataFrame({"Date":uniqueDate,"Weather":weatherList})
dateAndWeather.head()

         Date Weather
0  2012-03-31   Clear
1  2011-12-11   Clear
2  2011-08-13   Clear
3  2011-11-27   Clear
4  2012-02-18   Clear

In [287]:
#Populate the array
weatherFullList=[]

for date in df["Date"]:
    for j, dW in enumerate(dateAndWeather["Date"]):
        if date == dW:
            weatherFullList.append(dateAndWeather["Weather"][j])   
df["Weather"]=weatherFullList

In [288]:
df.head()

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Weather
0,1092,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,Clear
1,1093,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A,Clear
2,1094,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A,Clear
3,1095,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H,Clear
4,1096,D1,2011,2012-02-18,Freiburg,Bayern Munich,0,0,D,Clear